/* .box{
    height: 750px;
} */

/* img{
    height: 500px;
} */
.strip{
    height: 350px;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position:bottom;
    color: white;
}
nav{
    background-color: white;
}
nav a{
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
       background-color: rgba(192, 25, 25, 0.384); 
    color: white; 
    /* transition: 800ms; */
 }
a{
    text-decoration: none; 
    color: black; 
}
/* a :hover{
    color: wheat;
    transform: scale(2,2);
} */
@media (max-width:768px){
    .strip{
        height:100px;
    }  
    a{
        border-radius: 10px;
        padding: 2px 7px;
    } 
}

